@charset "UTF-8";

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Medula One', cursive;
  background: black;
  color: white;
}

/* NAVBAR */
.navbar {
  height: 80px; /* altura fixa da navbar */
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 2px solid orange;
  overflow: visible; /* permite que a logo “transborde” */
}


.navbar-nav .nav-link {
  font-family: 'Medula One', cursive;
  color: white;
  font-size: 1.8rem;
  transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #e48e1e;
  transform: scale(1.05);
}

.navbar-toggler {
  border: none;
}

/* Logo no mobile: centralizada e acima do navbar */
.logo-mobile {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -55px;
}

.logo-mobile img {
    height: 140px; /* aumenta a logo */
  max-height: none; /* impede que ela seja limitada pela altura da navbar */
  margin-top: 10px; /* opcional: centraliza visualmente se estiver desalinhada */
}


/* Logo no desktop: alinhada à esquerda */
.logo-desktop img {
  height: 180px; /* aumenta a logo */
  max-height: none; /* impede que ela seja limitada pela altura da navbar */
  margin-top: -20px; /* opcional: centraliza visualmente se estiver desalinhada */
}

@media (max-width: 767.98px) {
  .logo-desktop {
    display: none;
  }
}

/* hero */

.titulo{
  font-family: 'Medula One', cursive;
   font-size: 5rem;
   color: #e48e1e;
   font-weight: bold;
}
.hero-top {
  padding-top: 140px; /* Espaço suficiente abaixo da navbar fixa */
}

