@charset "UTF-8";

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Medula One', cursive;
  background: black;
  color: white;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
}

section {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background: black;
}
.bi-geo-alt-fill,
.bi-tree-fill,
.bi-mic-fill {
  color: #e48e1e;
}


.hero-section {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  padding-top: 140px;
  padding-bottom: 60px;
}
p{
  font-weight: bold;
  font-family: 'Medula One', cursive;
  font-size: 1.7rem;
}
.btn{
  font-weight: bold;
  font-family: 'Medula One', cursive;
  font-size: 1.8rem;
}
h3 {
  font-weight: bold;
  font-family: 'Medula One', cursive;
  font-size: 2.5rem;
}
.hero-content {
  position: relative;
  z-index: 2;
}

.hero-title {
  font-family: 'Medula One', cursive;
  font-weight: bold;
  font-size: 6rem;
  color: #e48e1e;
  margin-bottom: 20px;
  font-weight: bold;
}

.card-custom {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #e48e1e;
  border-radius: 12px;
  padding: 15px;
  transition: all 0.3s ease;
  height: 100%;
}

.card-custom:hover {
  background-color: rgba(255, 255, 255, 0.08);
  transform: translateY(-5px);
}

/* NAVBAR */

.navbar {
  background-color: #000 !important;
  border-bottom: 3px solid #e48e1e;
}

.navbar-nav .nav-link {
  font-family: 'Medula One', cursive;
  color: white;
  font-size: 1.8rem;
  transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #e48e1e;
  transform: scale(1.05);
}

.navbar-toggler {
  border: none;
}

.logo-mobile {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -60px;
}

.logo-mobile img {
  height: 140px;
}

@media (min-width: 768px) {
  .logo-mobile {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .navbar-collapse {
    background-color: black;
    border-top: 3px solid #E48E1E;
  }

  .navbar-nav {
    text-align: center;
  }

  .navbar-nav .nav-link {
    padding: 20px 0;
    border-bottom: 1px solid #e48e1e;
  }
}
